##############################################################
#      Vyloučení automaticky generovaných složek Pythonu     #
##############################################################






# --- EXCLUDE : Zajistí, že __pycache__ bude ignorován všude
#
__pycache__/



# --- EXCLUDE : Vyloučení zkompilovaných bytecode Pythonu
#
*.pyc
*.pyo
*.pyd

# --- EXCLUDE : Vyloučení pomocných souborů
#
*.bak



# --- EXCLUDE : Ignorovat soubory zabalené soubory
#
# plugin.video.play_to-1.0.0.zip




# --- EXCLUDE : Vyloučení testovacích souborů
#
# *_test.py
